//< " RESPONSIVE VALUE " >=============================================================================================================>//
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    /* Если меньше контейнера */
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  }

  @else if $type==2 {
    /* Если больше контейнера */
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }

  @else {
    /* Всегда */
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }

}

//< " RESPONSIVE VALUE WITH OF A SPECIFIC SCREEN WIDTH " >=============================================================================================================>//

@mixin adaptiv-value-width($property, $startSize, $minSize, $width, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    /* Если меньше контейнера */
    #{$property}: $startSize + px;

    @media (max-width: #{$width + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$width - 320}));
    }
  }

  @else if $type==2 {
    /* Если больше контейнера */
    #{$property}: $startSize + px;

    @media (min-width: #{$width + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$width - 320}));
    }
  }

}

//< " RESPONSIVE INDENT" >=============================================================================================================>//
// H - horizontal
// V - vertical
@mixin adaptiv-indent($indent, $startSizeV, $minSizeV, $startSizeH, $minSizeH, $type) {
  $addSizeV: $startSizeV - $minSizeV;
  $addSizeH: $startSizeH - $minSizeH;

  @if $indent=="padding" {
    @if $type==1 {
      /* Если меньше контейнера */
      padding: $startSizeV + px $startSizeH + px;

      @media (max-width: #{$maxWidthContainer + px}) {
        padding: calc(#{$minSizeV + px} + #{$addSizeV} * ((100vw - 320px) / #{$maxWidthContainer - 320}))
                calc(#{$minSizeH + px} + #{$addSizeH} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
      }
    }

    @else if $type==2 {
      /* Если больше контейнера */
      padding: $startSizeV + px $startSizeH + px;

      @media (min-width: #{$maxWidthContainer + px}) {
        padding: calc(#{$minSizeV + px} + #{$addSizeV} * ((100vw - 320px) / #{$maxWidth - 320}))
                calc(#{$minSizeH + px} + #{$addSizeH} * ((100vw - 320px) / #{$maxWidth - 320}));
      }
    }

    @else {
      /* Всегда */
      padding: calc(#{$minSizeV + px} + #{$addSizeV} * ((100vw - 320px) / #{$maxWidth - 320}))
              calc(#{$minSizeH + px} + #{$addSizeH} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }@else if $indent=="margin" {
    @if $type==1 {
      /* Если меньше контейнера */
      margin: $startSizeV + px $startSizeH + px;

      @media (max-width: #{$maxWidthContainer + px}) {
        margin: calc(#{$minSizeV + px} + #{$addSizeV} * ((100vw - 320px) / #{$maxWidthContainer - 320}))
                calc(#{$minSizeH + px} + #{$addSizeH} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
      }
    }

    @else if $type==2 {
      /* Если больше контейнера */
      margin: $startSizeV + px $startSizeH + px;

      @media (min-width: #{$maxWidthContainer + px}) {
        margin: calc(#{$minSizeV + px} + #{$addSizeV} * ((100vw - 320px) / #{$maxWidth - 320}))
                calc(#{$minSizeH + px} + #{$addSizeH} * ((100vw - 320px) / #{$maxWidth - 320}));
      }
    }

    @else {
      /* Всегда */
      margin: calc(#{$minSizeV + px} + #{$addSizeV} * ((100vw - 320px) / #{$maxWidth - 320}))
              calc(#{$minSizeH + px} + #{$addSizeH} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  }
  

}

//< " GRADIENT BORDER/FONT " >=============================================================================================================>//

//< " BUTTON " >
@mixin button-gradient($dir:0deg, $from, $to, $borderRadius:0px, $opacity:1) {
  position: relative;
  background: transparent;
  overflow: hidden;
  z-index: 0;
  border-radius: $borderRadius;

  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0px;
    background: linear-gradient($dir, $from 2.29%, color-mix(in srgb, $from, $to), 49.7%, $to 68.56%);
    padding: 2px;
    border-radius: $borderRadius;
    -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px) content-box content-box, linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
    -webkit-mask-composite: xor;
    transition: all 0.3s ease 0s;
  }
  &::after{
    content: "";
    background: linear-gradient($dir, $from 2.29%, color-mix(in srgb, $from, $to) 49.7%, $to 68.56%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;  
    z-index: -1;
    transition: all 0.3s ease 0s;
    opacity: $opacity;
  }

  @media (any-hover:hover){
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover{
      &::after{
        @if $opacity==1{
        opacity: 0;
        }@else if $opacity==0{
        opacity: 1;
        }
      }
    }
  }
}


//< " FONT " >
@mixin font-gradient($dir, $colors... ) {
  background: -webkit-linear-gradient($dir, $colors);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

//< " SCROLLBAR " >
@mixin scrollbars(
  $size: 10px,
  $foreground-color: #999,
  $background-color: #333,
  $border-radius: 0px,
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius:   $border-radius;
    ;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}