//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
// РАЗМЕР ПОЛОТНА
$maxWidth: 1920;
// РАЗМЕР КОНТЕЙНЕРА
$maxWidthContainer: 1200;

$containerPadding: 30;

// ЦВЕТА
$colorWhite: #fff;
$colorDark: #222;

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #fff;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
