//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
// РАЗМЕР ПОЛОТНА
$maxWidth: 1920;
// РАЗМЕР КОНТЕЙНЕРА
$maxWidthContainer: 1200;

$containerPadding: 30;

// ЦВЕТА
$colorWhite: #fff;
$colorDark: #1C1B1F;

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #1C1B1F;
$fontInter: 'Inter', sans-serif;
$fontJura: 'Jura', sans-serif;
$fontPressStart: 'Press Start 2P', cursive;
