//< " ФАЙЛ С ОБНУЛЯЮЩИМИ СТИЛЯМИ " >=============================================================================================================>//
@import "./modules/_nullstyle";

//< " ПОДКЛЮЧАЕМ ФАЙЛ С ШРИФТАМИ " >=============================================================================================================>//
@import "./modules/_fonts";

//< " ПОДКЛЮЧАЕМ ФАЙЛ С ИКОНКАМИ " >=============================================================================================================>//
@import "./modules/_iconfonts";

//< " ПОДКЛЮЧАЕМ ФАЙЛ С ИКОНКАМИ " >=============================================================================================================>//
@import "./modules/_iconfonts";

//< " ФАЙЛ С ОТДЕЛЬНЫМИ БЛОКАМИ " >=============================================================================================================>//
@import "./modules/_ui";


body {
  background-color: $colorBg;
  font-family: $fontInter;
  color: $colorDark;
  font-size: 14px;

  // ._lock-scroll
  &._lock-scroll {
     overflow: hidden;
  }
}
#app{
  height: 100%;
  width: 100%;
}

//< " ОБОЛОЧКА " >=============================================================================================================>//
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

//< " СЕТКА " >=============================================================================================================>//

// .content
.content {
  flex: 1 1 auto;
  display:flex;
  flex-direction:column;
}

// ._container
._container {
  padding: 0px #{calc($containerPadding / 2) + px} 0px #{calc($containerPadding / 2) + px};
  margin: 0px auto;
  max-width: $maxWidthContainer + px;
}
.page {
  flex: 1 1 auto;
}