@font-face {
  font-family: 'iconfonts';
  src: url('../iconfonts/iconfonts.eot?lhqpxj');
  src: url('../iconfonts/iconfonts.eot?lhqpxj#iefix') format('embedded-opentype'),
    url('../iconfonts/iconfonts.ttf?lhqpxj') format('truetype'),
    url('../iconfonts/iconfonts.woff?lhqpxj') format('woff'),
    url('../iconfonts/iconfonts.svg?lhqpxj#iconfonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//< " КЛАССЫ " >=============================================================================================================>//