$NODE_ENV: production;

//< " МИКСИНЫ " >=============================================================================================================>//
@import "./modules/_mixins";

//< " ФАЙЛ С ПЕРЕМЕННЫМИ " >=============================================================================================================>//
@import "./modules/_vars";